.sponsor {
  background: #f2f9fd;
  border-radius: 13px;
  padding: 30px;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7 {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 0.48rem;
  border-radius: 18px;
}

.custom {
  margin-top: 10rem;
}

.feature-image2 {
  margin-top: 10rem;
}

.overlap {
  margin-top: 20rem;
  margin-left: -15rem;
}

.customise {
  background: #f2f9fd;
  border-radius: 10px;
  padding: 30px;
}

.border {
  border: 1px solid #ededee;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

@media (max-width: 768px) {
  .sponsor {
    padding: 20px;
  }

  .hero {
    margin-top: 8.5rem;
  }

  .hero-image {
    margin-top: 6rem;
  }

  .intro-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .hero-text-left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
